:root {
  --primary-color: #3551c1;
  --primary-accent: #4c67d3;
  --secondary-color: #cfb533;
  --background-color: #e7e7e7;
  --alternative-background-color: #fffaf0;
  --accent-background-color: #fffefb;
  --text-color: #333;
  --font-main: 'Inter', sans-serif;
}

body {
  font-family: var(--font-main);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

.page-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 95vw;
  min-width: 380px;
  min-height: 90vh;
  gap: 0.5rem;
  padding-top: 0.5rem;
  margin: 0 auto;
}

.page-header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.page-title {
  font-size: 1.2em;
  width: 76%;
  color: var(--primary-color);
}

.search-bar {
  width: 45%;
  min-height: 2rem;

  padding-left: 0.5rem;
  align-self: flex-end;
  background-color: var(--accent-background-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
}

/* NavBar" */

nav {
  background-color: var(--primary-color);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  position: relative;
}

.logo {
  color: var(--accent-background-color);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 5rem;
}

.menu-button {
  font-size: 2rem;
  color: var(--accent-background-color);
  background: none;
  border: none;
  cursor: pointer;
  display: block;
}

.nav-links {
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 40vh;
  background: var(--primary-color);
  top: 5rem;
  left: -100%;
  transition: left 0.2s;
  text-align: center;
  padding-top: 3rem;
}

.nav-links li {
  margin: 2rem 0;
  line-height: 2.5rem;

}

.nav-links a {
  color: var(--accent-background-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  display: block;
  transition: background 0.3s ease;
}

.nav-links a.active,
.nav-links a:hover {
  background: var(--primary-accent);
}

.nav-links.open {
  left: 0;
}

/* Lists */

.list {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  height: 700px;
  max-height: 900px;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  overflow-y: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  gap: 0.5rem;
  border-bottom: 1px solid var(--primary-color);
  flex-wrap: wrap;
}

.column-title {
  border-bottom: 2px solid var(--primary-color);
  font-size: 0.9rem;
  font-weight: bold;
}

.column-title.row {
  height: 30px;
  margin-top: 0.25rem;
  border-bottom: 2px solid var(--primary-color);
}

.column-title .fourth-column {
  text-align: center;
}

.first-column {
  /* border: 1px solid red; */
  flex: 1.5;
  margin-left: 0.5rem;
}

.second-column {
  /* border: 1px solid blue; */
  flex: 0.5;
}

.third-column {
  /* border: 1px solid green; */
  flex: 1;
}

.fourth-column {
  /* border: 1px solid grey; */
  flex: 0.3;
  text-align: center;
  margin-right: 0.5rem;
}

/* Pages */

.recipes-container,
.ingredients-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 775px;
  gap: 0.5rem;
  font-size: 0.9em;
}

/* RecipeView */

.recipe-card {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}

.top-details {
  display: flex;
  min-height: 220px;
  gap: 0.5rem;
}

.big-details {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.big-details textarea:first-child {
  flex: 7;
}

.big-details textarea:last-child {
  flex: 3;
}

.small-details {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.small-details span {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  width: 5.5rem;
  min-height: 3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  text-align: center;
}

.ingredients-list {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.note-details {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem;
}

/* Edit Recipe Page */

.edit-page input,
.edit-page textarea,
.edit-page select {
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  padding: 0.5rem;
  font-family: var(--font-main);
  width: 100%;
}

.edit-page .page-title {
  width: 50%;
}

.edit-page .row input,
.edit-page .row select {
  height: 35px;
}

input.page-title {
  margin-bottom: 0.5rem;
}

.edit-page .first-column {
  flex: 2;
}

.edit-page .second-column {
  flex: 0.6;
}

.edit-page .third-column {
  flex: 0.6;
}

.edit-page .fourth-column {
  flex: 0.3;
}

.recipe-card input,
.recipe-card textarea {
  width: 100%;
  font-size: 1rem;
}

.small-details input {
  min-height: 3rem;
  text-align: center;
}

textarea.note-details {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
}

.recipe-button,
.ingredient-button {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--background-color);
  width: 50%;
  height: 3rem;
}

button.third-column,
button.fourth-column {
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  height: 35px;
}

.add-ingredient-button {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  margin: 0.5rem;
  height: 35px;
  width: 10rem;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
}

.delete-all-ingredients-button {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  margin: 0.5rem;
  height: 35px;
  width: 12rem;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
}

/* All Ingredients Page */
.ingredients-page .first-column {
  flex: 0.4;
}

.ingredients-page .third-column,
.ingredients-page .fourth-column {
  flex: 0.1;
}

/* Autocomplete */
.autocomplete-container {
  position: relative;
  width: 100%;
}

.autocomplete-input:focus {
  border: 2px solid var(--primary-accent);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
  outline: none;
  transition: border-color 0.3s ease;
}

.autocomplete-dropdown {
  position: absolute;
  width: 120%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.85rem;
  z-index: 10;
}

.autocomplete-dropdown li {
  height: 38px;
  line-height: 38px;
  padding-left: 0.3rem;
  margin: 0.4rem;
  border-radius: 2px;
  transition: background-color 0.2s ease;
}

.autocomplete-dropdown li:hover {
  background-color: #d5d5db;
}

select,
.autocomplete-dropdown li {
  background-color: white;
  font-size: 0.9rem;
}

.autocomplete-dropdown li.add-new-ingredient{
  border: 1.5px solid var(--primary-color);
  cursor: pointer;
}

/* Confirmation Window */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  position: relative;
  background: var(--background-color);
  padding: 2rem;
  border-radius: 15px;
  width: 80%;
  min-height: 15%;
  max-width: 350px;
  min-height: 170px;
  text-align: center;
}

.overlay-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
}

.overlay-buttons button {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--background-color);
  width: 45%;
  height: 3rem;
}

.overlay-close-button {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
}

.overlay ul {
  margin-top: 1rem;
  list-style: none;
}

/* Common CSS Rules */

.warning {
  text-align: center;
  color: gray;
  margin-left: 0.5rem;
}

.error {
  color:darkred;
}

.recipe-link-inline {
  color: var(--primary-color);
  text-decoration: underline;
}

.recipe-link-inline:hover {
  color: var(--primary-accent);
  text-decoration: none;
}

.inline-button {
  background: none;
  border: none;
  color: var(--primary-color);
  font: inherit;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
}

.inline-button:hover {
  text-decoration: none;
  color: var(--primary-accent);
}

/* Hide the number input spinners in modern browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

/* Web Media Query */
@media (min-width: 600px) {
  body {
    --background-color: #e7e7e7;
  }

  .page-container {
    max-width: 1100px;
  }

  .recipes-container,
  .ingredients-container {
    font-size: 1.2em;
    max-height: 1100px;
  }

  /* Navbar*/
  .menu-button {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    width: auto;
    top: auto;
    left: auto;
    background: none;
    padding-top: 0;
  }

  .nav-links li {
    margin: 0 0.5rem;
    line-height: 65px;
    list-style: none;
  }

  .nav-links a {
    font-size: 1rem;
    width: 10rem;
    padding: 0.75rem 1rem;
    border-radius: 0.3rem;
    display: inline-block;
    text-decoration: none;
  }

  .nav-links a:hover,
  .nav-links a.active {
    background: var(--primary-accent)
  }

  .page-title {
    font-size: 1.8rem;
  }

  .column-title {
    font-size: 1rem;
  }

  .recipe-card {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .big-details {
    width: 80%;
    min-height: none;
  }

  .small-details {
    width: 20%;
    min-width: 10.5rem;
    justify-content: space-between;
  }

  .small-details span {
    width: 10rem;
    min-height: 4rem;
    font-size: 1.1rem;
  }

  .recipe-card input,
  .recipe-card textarea {
    font-size: 1.1rem;
  }

  .small-details input {
    min-height: 4rem;
  }

  .recipe-button {
    width: 25%;
  }

  .autocomplete-dropdown {
   max-height: 200px;
   width: 100%;
  }

  .autocomplete-dropdown li {
    height: 27px;
    line-height: 27px;
    padding-left: 0.3rem;
    margin: 0.3rem;
  }
}