:root {
  --primary-color: #3551c1;
  --secondary-color: #cfb533;
  --background-color: #fffaf0;
  --accent-background-color: #fffefb;
  --text-color: #333;
  --font-main: 'Inter', sans-serif;
}

body {
  font-family: var(--font-main);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 95vw;
  min-width: 380px;
  height: 95vh;
  gap: 0.5rem;
}

.page-title {
  font-size: 1.5em;
  margin: 1rem 0 0 1rem;
  width: 76%;
  color: var(--primary-color);
}

.search-bar {
  width: 45%;
  height: 2rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  align-self: flex-end;
  background-color: var(--accent-background-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
}

/* Lists */

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  gap: 0.5rem;
  border-bottom: 1px solid var(--primary-color);
  flex-wrap: wrap;
  overflow: hidden;
}

.column-title {
  border-bottom: 2px solid var(--primary-color);
  font-size: 0.9rem;
  font-weight: bold;
}

.column-title.row {
  height: 30px;
  margin-top: 0.25rem;
  border-bottom: 2px solid var(--primary-color);
}

.column-title .delete-column{
  text-align: center;
  font-size: 1rem;
}

.name-column {
  /* border: 1px solid red; */
  width: calc(47% - 0.5rem);
}

.calorie-column {
  /* border: 1px solid blue; */
  width: calc(16% - 0.5rem);
}

.cuisine-column {
  /* border: 1px solid green; */
  width: calc(32% - 0.5rem);
}

.amount-column {
  /* border: 1px solid purple; */
  width: calc(23% - 0.5rem)
}

.type-column {
  /* border: 1px solid orange; */
  width: calc(23% - 0.5rem);
}

.delete-column {
  /* border: 1px solid grey; */
  width: calc(10% - 0.5rem);
}

/* Recipe List Page */

.recipe-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
  font-size: 1em;
}

.recipe-list {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  height: 100%;
  margin-top: 0.25rem;
  overflow-y: auto;
}

/* RecipeView */

.recipe-card {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}

.top-details {
  display: flex;
  min-height: 220px;
}

.big-details {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.big-details textarea:first-child {
  flex: 7;
}

.big-details textarea:last-child {
  flex: 3;
}

.small-details {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.small-details span {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  width: 5.5rem;
  min-height: 3rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  text-align: center;
}

.ingredients-list {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.note-details {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem;
}

/* Edit Page */

.edit-page input,
.edit-page textarea,
.edit-page select {
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  padding: 0.5rem;
  font-family: var(--font-main);
  width: 100%;
}

.edit-page .page-title{
  width: 50%;
}

.edit-page .row input,
.edit-page .row select{
  height: 35px;
}

input.page-title {
  margin-bottom: 0.5rem;
}

.edit-page .name-column {
  width: calc(47% - 0.5rem);
}

.edit-page .amount-column {
  width: calc(21% - 0.5rem)
}

.edit-page .type-column {
  width: calc(21% - 0.5rem);
}

.recipe-card input,
.recipe-card textarea {
  width: calc(100% - 0.5rem);
  font-size: 1rem;
}

.small-details input {
  min-height: 3rem;
  text-align: center;
}

textarea.note-details {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
}

.recipe-button {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--background-color);
  width: 50%;
  height: 3rem;
}

button.delete-column {
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  height: 35px;
}

.add-button{
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  margin-left: auto;
  margin: 0.5rem;
  height: 35px;
  width: 10rem;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
}

/* Common CSS Rules */

.no-results-message {
  text-align: center;
  color: gray;
  margin-top: 10px;
}

/* Hide the number input spinners in modern browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

/* Web Media Query */
@media (min-width: 600px) {
  body {
    --background-color: #e7e7e7;
  }

  .page-container {
    max-width: 1100px;
  }

  .page-title{
    font-size: 2rem;
  }

  .column-title {
    font-size: 1rem;
  }

  .recipe-list-container {
    font-size: 1.2em;
  }

  .recipe-card {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .big-details {
    width: 80%;
    min-height: none;
  }

  .small-details {
    width: 20%;
    min-width: 10.5rem;
    justify-content: space-between;
  }

  .small-details span {
    width: 10rem;
    min-height: 4rem;
    font-size: 1.1rem;
  }

  .recipe-card input,
  .recipe-card textarea {
    font-size: 1.1rem;
  }

  .small-details input {
    min-height: 4rem;
  }

  .recipe-button {
    width: 25%;
  }
}